@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply text-gray-900;
}

body {
  background-color: #f7fafc;
  height: 100%;
}
